.container {
  margin: 0 auto;
  padding-top: 20%;
  text-align: center;
}
.main-sankey {
  width: 500px;
  height: 400px;
}
.world-map {
  width: 100%;
  transform: perspective(600px) rotateX(45deg) translateX(-100px);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}


.main-markers
{
  position: absolute;
}

/* flat line */
.flat-line
{
  transform: rotate(-90deg) translateY(300px);
  transform-origin: center;
}

/* 3D sankey */
.three-d
{
  transform: rotate(-90deg) translateY(300px) rotateY(30deg);
  transform-origin: center;
}
